*{
    margin: 0px;
    font-family: 'Lato', sans-serif;
    
}
#logo{
    margin-left: 50px;
    margin-top: 50px;
}

#teste-menusuperior{
    margin-left: 40%;
    margin-top: 1%;
}
#menuinformacional{
    
    margin: 2% 0% 4% 0%;
    background-color: #55555459;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    
}
a{
    background-color:#EAECE5;
    color: black;
    border: solid black;
    border-radius: 20px;
    width: 50%;
    margin: 5%;
    margin-left: 20%;
}

a:hover{
    background-color: #55555459;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #0d2b147e;
    transition-duration: 1s;
}
    

.icone{
    padding: 5%;

}
#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
.textoinformativo{
    display: flex;
    align-items: center;
}
#titulovideo{
    color: #247BA0;
    margin-top: 50px;
    
}
#video{
    margin:  20px 20px 50px 10px;
}
#carrocel{
    background-color: #247BA0;
    padding: 50px;
}
#titulocarrocel{
    color: white;
    text-align: center;
    font-size: 25px;
}
#div-cards{
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
}
.card{
    margin-left: 50px;

}

#seta-esquerda{
    display: none;
}
#leonardo{
    display: none;
}
.seta{
    margin-top: 100%;
    cursor: pointer;
}
.seta:hover{
    transform: translatex(-7px);
    transition-duration: 0.5 ;
}
#formulario{
    text-align: center;

}
#titulo-formulario{
    font-size: 25px;
    margin: 25px;
    color: #383838;
}
input{
  width: 300px;
  height: 40px;  
  background-color:#EAECE5 ;
  margin: 15px;
  border: 0px;
  border-radius: 5px;
  padding-left: 10px;
}
button{
    background-color:#247BA0 ;
    height: 40px;
    width: 250px;
    color:#EAECE5;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}
button:hover{
    background-color: #318fb8;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #0d2b147e;
    transition-duration: 1s;
}